![Repository Banner](https://banners.beyondco.de/{{ cookiecutter.package_title | replace(' ', '%20') }}.png?theme=light&packageManager=composer+require&packageName={{ cookiecutter.vendor_name }}%2F{{ cookiecutter.package_name }}&pattern=circuitBoard&style=style_1&description={{ cookiecutter.package_description | replace(' ', '+') }}&md=1&showWatermark=1&fontSize=100px&images=https%3A%2F%2Flaravel.com%2Fimg%2Flogomark.min.svg)

[![Latest Version on Packagist](https://img.shields.io/packagist/v/{{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }}.svg?style=flat-square)](https://packagist.org/packages/{{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }})
[![Total Downloads](https://img.shields.io/packagist/dt/{{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }}.svg?style=flat-square)](https://packagist.org/packages/{{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }})
[![GitHub Tests Action Status](https://img.shields.io/github/actions/workflow/status/{{ cookiecutter.github_username }}/{{ cookiecutter.github_repository }}/continuous-integration.yml?branch=master&label=tests&style=flat-square)](https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.github_repository }}/actions?query=workflow%3Acontinuous-integration+branch%3Amaster)
[![PHPUnit Code Coverage](https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.github_repository }}/blob/image-data/coverage.svg)](https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.github_repository }}/actions?query=workflow%3Acontinuous-integration+branch%3Amaster)

# {{ cookiecutter.package_title }}

{{ cookiecutter.package_description }}

## Install

Use [Composer](https://getcomposer.org) to install the package.

```shell
composer require {{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }}
```

## Usage

> [!NOTE]
> Explain how to use the package.

## Contributing

To contribute to the package, see the [Contributing Guide](CONTRIBUTING.md).

## License

Copyright &copy; {% now 'utc', '%Y' %} {{ cookiecutter.author_name }} [{{ cookiecutter.author_website }}]({{ cookiecutter.author_website }})

This file is part of package {{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }}.

Package {{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }} is free software: you can redistribute it
and/or modify it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Package {{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }} is distributed in the hope that it will be
useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
Public License for more details.

You should have received a copy of the GNU General Public License along with
package {{ cookiecutter.vendor_name }}/{{ cookiecutter.package_name }}. If not, see <https://www.gnu.org/licenses/>.

For a copy of the license, see the [LICENSE](LICENSE) file in this repository.
